{% extends 'after_login/main.html' %}
{% block options %}
<div class="container form-group">
    <br>
    <div class="row">
        <div class="col-lg-4">
        <h1>Add A New Event</h1>
        </div>
        <div class="col=lg-8">
            <button onclick="window.location='{% url 'after:calendarapp:index' %}'" type="button">Back</button>
        </div>
    </div>

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <label>{{ field.label }}</label>
            <input placeholder="{{ field.label }}" name="{{ field.name }}" class="form-control" />
            {{ field.errors }}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-outline-success">submit</button>

    </form>
</div>
{% endblock %}