{% extends "clubs/club_basic.html" %}

{% block content %}
    <div class="center-align" style="border:2px solid dimgray;padding:1%;">
        <div class="center-align" style="margin:2%;border-bottom: 2px solid lightgray;"><h2>Write to the club!</h2><br>
        </div>
        <br>
        <div>
            <form class="container" style="width:80%;" action="{% url 'clubs:post' club_name %}" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="center-align file-field input-field">
                    {{ imageform.image }}
                    <!--<input type="file" id="images" multiple>-->
                    <div class="file-path-wrapper">
                        <i class="material-icons prefix">add_a_photo</i>
                        <input class="file-path validate" type="text" placeholder="Choose an image">
                    </div>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">mode_edit</i>
                    {{ postform.subject }}
                    <!--<input id="subject1" type="text" class="validate text-white">-->
                    <label class="text-white" for="subject1">Subject</label>
                </div>
                {{ postform.content }}
                {{ postform.date }}
                <!--<textarea id="content" placeholder="Write here...." style="height:100px;width:100%"></textarea>-->
                <div class="container" style="margin:20px;">
                    <input class="modal-close waves-effect waves-green btn text-white" type="button" value="Cancel">
                    <input class="modal-close waves-effect waves-green btn text-white" type="Submit" value="Post">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
