{% extends 'quiz/base_classrooms.html' %}

{% block content %}
    <div class="container" style="margin-top:2%; z-index: 0.5;">
    {% if user.registered_user %}
        <div style="margin-bottom:6%;background-color: white;padding:1%;">
            <h5 class="blue-text text-darken-4 center"><u>Write a post</u></h5>
            <form method="POST" action="{% url 'after:classroom:class_forum:cl_forum' class_name %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container blue-text text-darken-4">
                    <div class="center-align file-field input-field">
                        {{ imageform.image }}
                        <div class="file-path-wrapper">
                            <i class="material-icons prefix">add_a_photo</i>
                            <input class="file-path validate" type="text" placeholder="Choose an image">
                        </div>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">mode_edit</i>
                        {{ postform.subject }}
                        <label class="text-white" for="subject1">Subject</label>
                    </div>
                    {{ postform.content }}
                    <div style="margin:20px;">
                        <button class="waves-effect waves-green btn blue darken-4 text-white" type="Submit"
                                style="z-index:0;">Post
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
        {% if posts %}
            {% for post in posts %}
                <div class="col s12 m7" style="border-top:2px solid lightslategrey;margin-bottom:40px;">
                    <div style="margin:10px;">
                        <img class="circle left-align" src="{{ post.userId.image.url }}"
                             style="height:40px;width:40px;">
                        <span style="font-weight: bold;">{{ post.userId.user.registered_user.First_Name|title }}</span>&nbsp;<span>posted this</span>
                        <a class='dropdown-trigger right' data-target='dropdown{{ post.id }}'><i
                                class="material-icons blue-text text-darken-4">more_vert</i></a>
                        <ul id='dropdown{{ post.id }}' class='dropdown-content'>
                            {% if post.userId.user == user %}
                                <li>
                                    <a class="blue-text text-darken-4" href="{% url 'after:classroom:class_forum:cl_delete' class_name post.id %}">Delete</a>
                                </li>
                            {% else %}
                                <li><a href="#report">Report</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card horizontal">
                        {% if post.classimage_set.all.0.image.url %}
                            <div class="card-image hide-on-med-and-down responsive-img" style="width:30%;">
                                <img class="materialboxed" src="{{ post.classimage_set.all.0.image.url }}"
                                     style="width:100%;object-fit: contain;">
                            </div>
                        {% endif %}
                        <div class="card-stacked">
                            <div class="card-content container">
                                {% if post.classimage_set.all.0.image.url %}
                                    <img class="responsive-img hide-on-large-only"
                                         src="{{ post.classimage_set.all.0.image.url }}"
                                         style="width:100%;object-fit:fill !important;">
                                {% endif %}
                                <a class="black-text"
                                   href="{% url 'after:classroom:class_forum:cl_post' class_name post.id %}">
                                    <div>
                                        <h3 class="header">{{ post.subject }}</h3>
                                        <p>{{ post.content }}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="card-action">
                                    {% for i in post.classlike_set.all %}
                                        {% if i.userId.user == user %}
                                            <a href="{% url 'after:classroom:class_forum:cl_dislike' class_name post.id %}">
                                                <i class="material-icons blue-text "
                                                   style="font-size: 30px">thumb_up</i>
                                            </a>
                                        {% elif forloop.last %}
                                            <a href="{% url 'after:classroom:class_forum:cl_like' class_name post.id %}">
                                                <i class="material-icons grey-text" style="font-size: 30px">thumb_up</i>
                                            </a>
                                        {% endif %}
                                    {% empty %}
                                        <a href="{% url 'after:classroom:class_forum:cl_like' class_name post.id %}">
                                            <i class="material-icons grey-text " style="font-size: 30px">thumb_up</i>
                                        </a>
                                    {% endfor %}
                                <span>Liked by {{ post.classlike_set.all.count }}</span>
                                <button class="btn right blue darken-4" id="com_button{{ post.id }}"
                                        onclick="showcomments({{ post.id }});">Comments
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="hide white" id="comments{{ post.id }}" style="border-bottom:1.7px solid dimgray;">
                        <h4 class="left-align blue-text text-darken-4">Comments</h4>
                    {% if user.registered_user %}
                        <div style="padding:1%;">
                            <form action="{% url 'after:classroom:class_forum:cl_comment' class_name post.id %}"
                                  method="POST">
                                {% csrf_token %}
                                {{ commentform.comment }}
                                <input class="btn blue darken-4" type="submit" value="Post">
                            </form>
                        </div>
                    {% endif %}
                        {% for com in post.classcomment_set.all %}
                            <div style="padding:1%;">
                                <div style="margin:1%;">
                                    <img class="circle" src="{{ post.userId.image.url }}"
                                         style="border:1px solid dimgray;height:50px;width:50px;border-radius: 50px;">&nbsp;&nbsp;
                                    <span style="font-weight: bold;">{{ com.userId.user.username|title }}&nbsp;posted this:</span>
                                    <a class='dropdown-trigger right' data-target='com{{ com.id }}'><i
                                            class="material-icons">more_vert</i></a>
                                    <ul id='com{{ com.id }}' class='dropdown-content'>
                                        {% if com.userId.user != user  %}

                                            <li><a class="blue-text text-darken-4" href="#report">Report</a></li>
                                        {% else %}
                                            <li>
                                                <a class="blue-text text-darken-4" href="{% url 'after:classroom:class_forum:cl_delcom' class_name com.id %}">Delete</a>
                                            </li>
                                        {% endif %}
                                        <li><a class="blue-text text-darken-4" onclick="showreplies({{ com.id }})">Reply</a></li>
                                    </ul>
                                </div>
                                <div style="margin:1%; margin-right: 4%; margin-left:4%;">{{ com.comment }}</div>
                                <div id="repl{{ com.id }}" class="hide" style="margin-left:8%;">
                                    {% for rep in com.classreply_set.all|slice:":2" %}
                                        <div style="padding:1%;">
                                            <div style="margin:1%;">
                                                <img class="circle" src="{{ rep.comId.postId.userId.image.url }}"
                                                     style="border:1px solid dimgray;height:50px;width:50px;border-radius: 50px;">&nbsp;&nbsp;
                                                <span style="font-weight: bold;">{{ rep.comId.userId.user.username|title }}&nbsp;posted this:</span>
                                                <a class='dropdown-trigger right' data-target='rep{{ rep.id }}'><i
                                                        class="material-icons">more_vert</i></a>
                                                <ul id='rep{{ rep.id }}' class='dropdown-content'>
                                                    {% if rep.comId.userId.user == user %}
                                                        <li>
                                                            <a href="{% url 'after:classroom:class_forum:cl_delreply' class_name rep.id %}">Delete</a>
                                                        </li>
                                                    {% else %}
                                                        <li><a href="#report">Report</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div style="margin:1%; margin-right: 4%; margin-left:4%;">{{ rep.reply }}</div>
                                        </div>
                                    {% empty %}
                                        <span class="center teal-text">No replies</span><br>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <a class="grey-text" href="{% url 'after:classroom:class_forum:cl_post' class_name post.id %}">load the
                            complete post></a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="center">Nothing to show!</h3>
        {% endif %}
    </div>
    <script>
        function showreplies(a) {
            if (document.getElementById('repl' + a).classList.contains('hide')) {
                document.getElementById('repl' + a).classList.remove('hide');
            }
            else {
                document.getElementById('repl' + a).classList.add('hide');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const elems = document.querySelectorAll('.dropdown-trigger');
            M.Dropdown.init(elems, {});
        });

        document.addEventListener('DOMContentLoaded', function () {
            const elems = document.querySelectorAll('.materialboxed');
            M.Materialbox.init(elems, {});
        });


        function showcomments(a) {
            if (document.getElementById('comments' + a).classList.contains('hide')) {
                document.getElementById('comments' + a).classList.remove('hide');
                document.getElementById('com_button' + a).innerHTML = "Hide Comments";
            }
            else {
                document.getElementById('comments' + a).classList.add('hide');
                document.getElementById('com_button' + a).innerHTML = "Comments";
            }
        }

    </script>
{% endblock %}