{% extends 'Parent/base.html' %}
{% load staticfiles %}


{% block body %}
    <div class="parallax-container">
        <div class="parallax"><img src={% static 'classrooms/images/img2.jpeg' %}></div>
      </div>
      <div class="section white">
        <div class="row container">
          <h2 class="header">Parallax</h2>
          <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src={% static 'classrooms/images/img2.jpeg' %}></div>
      </div>
    {% block content %}

    {% endblock content %}
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src={% static 'classrooms/js/materialize.min.js' %}></script>
  <script src={% static 'classrooms/js/quiz.js' %}></script>

{% endblock body %}
        