{% extends 'classrooms/base_classrooms.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Handling quiz on student side -->
    {% ifequal user.registered_user.role 'S' %}
        <p>hello student</p>

    {% endifequal %}   
<!-- Handling quiz on faculty side-->
{% ifequal user.registered_user.role 'F' %}
<div id='quiz'>
    <div class='row' id='question1'> 
        <div class="input-field col s7 offset-s2">
            {{ quiz_detail_form.name_of_quiz }}
            <label for="first_name">Name Of Quiz</label>
        </div>
        <div class="input-field col s7 offset-s2">
                {{ quiz_detail_instructions }}
        </div>
        <div class="input-field col s7 offset-s2">
                {{ quiz_detail_form.date }}
                <label for="first_name">Enter the date on which this quiz will start</label>
        </div>
        <div class="input-field col s7 offset-s2">
                {{ quiz_detail_form.start_time }}
                <label for="first_name">Enter the time when this quiz will start</label>
        </div>  
        <div class="input-field col s7 offset-s2">
                {{ quiz_detail_form.end_time }}
                <label for="first_name">Enter the time when this quiz will finish</label>
        </div>
    </div>
    <p>hello faculty</p>
    <form method="post" action={% url 'result' %}>
    <!-- {% csrf_token %}
        {% for single in single_choice_form %}
        <div class="col s12 m7" id='question_card_1' style='width:80%;margin-left:10%'>
            <h6 class="header">Horizontal Card1</h6>
            <div class="card horizontal large" id="card">
                <div class="card-stacked">
                    <div class="row">
                        <div class="input-field col s12" id='question'>
                            {{ single.question }}
                            <label for="question">Enter your question here</label>
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice1'>
                            <label>
                                <input type="checkbox" />
                                <span>A</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option1'>
                            {{ single.option1 }}
                            <label for="option1">Option 1</label>
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice2'>
                            <label>
                                <input type="checkbox" />
                                <span>B</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option1'>
                            {{ single.option2 }}
                            <label for="option1">Option 2</label>
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice3'>
                            <label>
                                <input type="checkbox" />
                                <span>C</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option3' >
                            <textarea id="option3" class="materialize-textarea"></textarea>
                            {{ single.option3 }}
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice4' >
                            <label>
                                <input type="checkbox" />
                                <span>D</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option4'>
                            {{ single_choice_form.option4 }}
                            <label for="option4">Option 4</label>
                        </div>
                    </div>
                </div>    
                <div class="card-action" style='height:80px'>
                    <div class='row'>
                        <div class="input-field col s2" >
                            <select id='select_box' onchange='changeFunc()' >
                                <option value="1" selected>Single Correct</option>
                                <option value="2">Multiple Correct</option>
                                <option value="3">True</option> 
                                <option value="4">Matching</option>
                            </select>
                        </div>
                        <div class="input-field col s2">
                            <input id="question_mark" type="text" class="validate">
                            <label for="question_mark">Marks</label>
                        </div>
                        <div class="input-field col s2 offset-s6">
                            <a class="waves-effect waves-light btn-small" onclick="save_edit()"><i class="material-icons left">save</i>save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} -->
        <!-- {% for single in multiple_choice_form %}
        <div class="col s12 m7" id='question_card_1' style='width:80%;margin-left:10%'>
            <h6 class="header">Horizontal Card1</h6>
            <div class="card horizontal large" id="card">
                <div class="card-stacked">
                    <div class="row">
                        <div class="input-field col s12" id='question'>
                            {{ multiple_choice_form.question }}
                            <label for="textarea1">Enter your question here</label>
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice1'>
                            <label>
                                <input type="checkbox" />
                                <span>A</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option1'>
                            {{ multiple_choice_form.option1 }}
                            <label for="option1">Option 1</label>
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice2'>
                            <label>
                                <input type="checkbox" />
                                <span>B</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option2'>
                            {{ multiple_choice_form.option2 }}
                            <label for="option2">Option 2</label>
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice3'>
                            <label>
                                <input type="checkbox" />
                                <span>C</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option3' >
                            <textarea id="option3" class="materialize-textarea"></textarea>
                            {{ multiple_choice_form.option3 }}
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice4' >
                            <label>
                                <input type="checkbox" />
                                <span>D</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option4'>
                            {{ multiple_choice_form.option4 }}
                            <label for="option4">Option 4</label>
                        </div>
                        
                    </div>
                </div>    
                <div class="card-action" style='height:80px'>
                    <div class='row'>
                        <div class="input-field col s2" >
                            <select id='select_box' onchange='changeFunc()' >
                                <option value="1" selected>Single Correct</option>
                                <option value="2">Multiple Correct</option>
                                <option value="3">True</option> 
                                <option value="4">Matching</option>
                            </select>
                        </div>
                        <div class="input-field col s2">
                            <input id="question_mark" type="text" class="validate">
                            <label for="question_mark">Marks</label>
                        </div>
                        <div class="input-field col s2 offset-s6">
                            <a class="waves-effect waves-light btn-small" onclick="save_edit()"><i class="material-icons left">save</i>save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for single in truefalse_form %}
        <div class="col s12 m7" id='question_card_1' style='width:80%;margin-left:10%'>
            <h6 class="header">Horizontal Card1</h6>
            <div class="card horizontal large" id="card">
                <div class="card-stacked">
                    <div class="row">
                        <div class="input-field col s12" id='question'>
                            {{ truefalse_form.question }}
                            <label for="textarea1">Enter your question here</label>
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice1'>
                            <label>
                                <input type="checkbox" />
                                <span>A</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option1'>
                            {{ truefalse_form.option1 }}
                            <label for="option1">Option 1</label>
                        
        {% endfor %}
        {% for single in matching_form %}
        <div class="col s12 m7" id='question_card_1' style='width:80%;margin-left:10%'>
            <h6 class="header">Horizontal Card1</h6>
            <div class="card horizontal large" id="card">
                <div class="card-stacked">
                    <div class="row">
                        <div class="input-field col s12" id='question'>
                            {{ matchng_form.question }}
                            <label for="textarea1">Enter your question here</label>
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice1'>
                            <label>
                                <input type="checkbox" />
                                <span>A</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option1'>
                            {{ matching_form.option1 }}
                            <label for="option1">Option 1</label>
                        </div>
                        <div class="input-field col s5 matching" id="matching1" style="visibility:hidden;">
                            {{ matching_form.match1 }}
                            <label for="matching1">Matching 1</label>
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice2'>
                            <label>
                                <input type="checkbox" />
                                <span>B</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option2'>
                            {{ matching_form.option2 }}
                            <label for="option2">Option 2</label>
                        </div>
                        <div class="input-field col s5 matching" id="matching2" style="visibility:hidden;">
                            {{ matching_form.match2 }}
                            <label for="matching2">Matching 2</label>
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice3'>
                            <label>
                                <input type="checkbox" />
                                <span>C</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option3' >
                            <textarea id="option3" class="materialize-textarea"></textarea>
                            {{ matching_form.option3 }}
                        </div>
                        <div class="input-field col s5 matching" id="matching3" style="visibility:hidden;" >
                            {{ matching_form.match3 }}
                            <label for="matching3">Matching 3</label>
                        </div>
                        <p class='col s1 choice' style='visibility:visible;' id='choice4' >
                            <label>
                                <input type="checkbox" />
                                <span>D</span>
                            </label>
                        </p>
                        <div class="input-field col s6 option" id='option4'>
                            {{ matching_form.option4 }}
                            <label for="option4">Option 4</label>
                        </div>
                        <div class="input-field col s5 matching" id="matching4" style="visibility:hidden;">
                            {{ matching_form.match4 }}
                            <label for="matching4">Matching 4</label>
                        </div>    
                    </div>
                </div>    
                <div class="card-action" style='height:80px'>
                    <div class='row'>
                        <div class="input-field col s2" >
                            <select id='select_box' onchange='changeFunc()' >
                                <option value="1" selected>Single Correct</option>
                                <option value="2">Multiple Correct</option>
                                <option value="3">True</option> 
                                <option value="4">Matching</option>
                            </select>
                        </div>
                        <div class="input-field col s2">
                            <input id="question_mark" type="text" class="validate">
                            <label for="question_mark">Marks</label>
                        </div>
                        <div class="input-field col s2 offset-s6">
                            <a class="waves-effect waves-light btn-small" onclick="save_edit()"><i class="material-icons left">save</i>save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
     -->
     -->
    </form>
        <div class='row'>
            <div class='col s2 offset-s1'>
                <a class="btn-floating btn-large waves-effect waves-light red" onclick="add_question()"><i class="material-icons">add</i></a>
            </div>
        </div>
        <div class="link-formset">
        </div>
        

    </div>
    {% endifequal %}    
    
    <p>
        {% for single in single_choice_form %}
            <!-- {% for choice in single.answer %}
                {{ choice.choice_label }}
                {{ choice.tag }}
            {% endfor %} -->
            <!-- {% for radio in student.answer %}
                <label for="{{ radio.id_for_label }}">
                {{ radio.choice_label }}
                <span class="radio">{{ radio.tag }}</span>
                </label>
            {% endfor %} -->
            {{ single.answer }}
        {% endfor %}
    

    </p>
            
                        
            <script>
                    $('.link-formset').formset({
                        addText: 'Add Contact',
                        deleteText: 'Remove Contact'
                    });
            </script>
{% endblock content %}
