{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  
 

    <link rel="stylesheet" type="text/css" href={% static 'users/css/style_home.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'users/css/particle.css' %}>

    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src={% static 'users/js/jquery.fullpage.js' %}></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">

    <script src="https://cdjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>


    <script type="text/javascript">
      $(window).on('scroll',function(){
        if($(window).scrollTop()){
          $('nav').addClass('black');
        }
        else{
          $('nav').removeClass('black')
        }
      })
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
* {
  box-sizing: border-box;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row 
{
  width: 100px;
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both  width: 100%;
};


/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #000;
  opacity: 0.8;
  color: white;
}

.fa {font-size:50px;}
</style>
</head>

<body>
 <div id="fullpage">
  
  <section> 
  <div id="particles-js" style="height: 100vh;">
      
   
  
          <p class="heading" style="width: 50%">
      <h1>REVOLUTIONISING<br> COLLEGE LIFE</h1>
      A common platform for academic and co-curricular activities..


      <script type="text/javascript" src={% static 'users/js/particles.js' %}></script>
      <script type="text/javascript" src={% static 'users/js/app.js' %}></script>

   </div>
   </section>

    <div class="wrapper">
    <nav>
      <div class="logo1">
        DIGITAL COLLEGE
      </div>
      <ul>
        <li><a href="{% url 'website_homepage' %}">Home</a></li>
        <li><a href="{% url 'website_register' %}">Register</a></li>
        <li><a class="active" href="{% url 'website_login' %}">Log In</a></li>
      </ul>
    </nav>  
  </div>

    
    
  </div>   


  
  
    <div class="second">
      <section>

      <!-- carousel with 50%height of the page -->

      <!-- 4-PICTURED ACHIEVEMENT LIST-->
          
            <div class="row" style="width: 100%;">
              <div class="column">
                <div class="card">
                  <p><i class="fa fa-user"></i></p>
                  <h3>11+</h3>
                  <p>Partners</p>
                </div>
              </div>

              <div class="column">
                <div class="card">
                  <p><i class="fa fa-check"></i></p>
                  <h3>55+</h3>
                  <p>Projects</p>
                </div>
              </div>
              
              <div class="column">
                <div class="card">
                  <p><i class="fa fa-smile-o"></i></p>
                  <h3>100+</h3>
                  <p>Happy Clients</p>
                </div>
              </div>
              
              <div class="column">
                <div class="card">
                  <p><i class="fa fa-coffee"></i></p>
                  <h3>100+</h3>
                  <p>Meetings</p>
                </div>
              </div>         
          </div>    
          </section>
    </div>


    <div class="display">
      <section>
          <div class="logo">
              Digital College
            </div>

          <div class="med" style="width: 100%; display: flex; align-items: center; justify-content: center;">
                      
          <ul>
            <li><a href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fa fa-google-plus" aria-hidden="true"></span>
              </a>
            </li>
            <li><a href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fa fa-facebook-official" aria-hidden="true"></span>
              </a>
            </li>
            <li><a href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fa fa-twitter" aria-hidden="true"></span>
              </a>
            </li>
            <li><a href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fa fa-instagram" aria-hidden="true"></span>
              </a>
            </li>
            <li><a href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fa fa-linkedin" aria-hidden="true"></span>
              </a>
            </li>
          </ul>

          </div>

          <div class="links" style="width: 33%; float: left; align-items: center; padding-left: 250px; font-size: 30px">
            <UL><b style="font-size: 50px;  text-decoration-color: white;"> LINKS </b><br>
                <li>Home</li>
                <li>About us</li>
                  <br>
                <li>Register</li>
                <li>Login</li>
             </UL>
          </div>

          <DIV class="Contact" style="width: 33%;  float: left; align-items: center;padding-left: 90px; font-size: 30px">
             <UL style="list-style-type: none;"><b style="font-size: 50px;  text-decoration-color: white;">Contact Us</b><br>
                <li>630 Gnan Marg,</li>
                <li>Sri City,</li>
                <li>Andhra Pradesh</li>
                <li>PIN 517646</li>
                <li>Email: support@digitalcollege.com</li>

             </UL> 
          </DIV>

          <DIV class="follow" style="width: 33%;  float: left; align-items: center; padding-left: 50px; font-size: 30px">
             <UL><b style="font-size: 50px;  text-decoration-color: white;">Follow Us</b><br>
                <li>Google+</li>
                <li>Facebook</li>
                <li>Twitter</li>

             </UL> 
          </DIV>

    </div>

    </section>
  </div> 


   <script type="text/javascript">
      FastClick.attach(document.body);
      $('#fullpage').fullpage();
    </script>

</body>
</html>