{% extends 'users/base_login.html' %}

{% block content %}
<h2>Login</h2>
<form action="" method="POST">
	{% csrf_token %}
	<!-- <label class="container">College Admin
		<input type="radio" checked="checked" name="radio">
		<span class="checkmark"></span>
	</label>
	<label class="container">Faculty
		<input type="radio" name="radio">
		<span class="checkmark"></span>
	</label>
	<label class="container">Student
		<input type="radio" name="radio">
		<span class="checkmark"></span>
	</label> -->
	{{form}}
	<input type="submit" value="Sign in">
	<a href="{% url 'users:reset' %}">Forgot Password?</a>
</form>
{% endblock content %}