{% extends 'after_login/main.html' %}

{% block options %}
    <div class="container" style="width:90%;">
        <div>
            <div style="padding-bottom:1%;border-bottom:2px solid teal;margin-bottom: 2%;">
                <h1 class="left-align teal-text" style="font-size: 40px;font-family: 'Noto Serif';">
                    Classroom</h1>
            </div>
            {% if user.registered_college %}
                <div class="right-align">
                    <a class="waves-effect waves-light btn-small" href="{% url 'after:new_course' %}">
                        <i class="material-icons left">cloud</i>
                        Add a new Class
                    </a>
                </div>
            {% endif %}
        </div>
        {% ifequal added 'yes' %}
            <div class="green-text valign-wrapper">
                <iframe width="100" height="100" src="https://lottiefiles.com/iframe/433-checked-done" frameborder="0"
                        scrolling="no" allowfullscreen></iframe>
                <h2> A new Course added</h2>
            </div>
        {% endifequal %}
        {% ifequal added 'no' %}
            <div class="red-text valign-wrapper">
                <iframe width="100" height="100" src="https://lottiefiles.com/iframe/1167-failed" frameborder="0"
                        scrolling="no" allowfullscreen></iframe>
                <h2>Cannot add a Course that already exists.</h2>
            </div>
        {% endifequal %}
        {% if classList %}
            {% for cl in classList %}
                <a href="{% url 'after:classroom:class_home' cl.course_name %}">
                    <div class="valign-wrapper hoverable onhover"
                         style="border:2px solid teal;height:70px;margin-top:20px;border-radius:5px;">
                        <i class="material-icons" style="margin-left:30px;margin-right:30px;">navigate_next</i>
                        <span style="color:teal;"><h3>{{ cl.course_name }}</h3></span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="color:gray">{{ cl.courseenrollment_set.count }} students</span>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <br><br><br>
            <div class="center-align">
                <iframe class="teal-text" width="150" height="150" src="https://lottiefiles.com/iframe/2106-suns-out"
                        frameborder="0" scrolling="no"></iframe>
                <h3>You are not enrolled in any Course.</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}