{% extends 'after_login/main.html' %}

{% block options %}

    <div class="container teal-text" style="width:90%;">
        <div>
            <div style="padding-bottom:1%;border-bottom:2px solid darkblue;margin-bottom: 2%;">
                <h1 class="left-align blue-text text-darken-4" style="font-size: 40px;font-family: 'Noto Serif';">
                    Clubs</h1>
            </div>
        </div>
        <div style="margin-left:4%;color:darkblue;">
            <br><br>
            <form action="{% url 'after:new_club' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div id="c1">
                    <h3>
                        Name of the club.<br>
                        {{ clubform.club_name }}<br>
                    </h3>
                    <button class="waves-effect waves-light btn blue darken-4 text-white" onclick="nextpg(1)">Next
                    </button>
                </div>
                <div id="c2" class="hide">
                    <h3>
                        Club Head.<br>
                        {{ clubform.club_head }}<br>
                    </h3>
                    <button class="waves-effect waves-light btn blue darken-4 text-white" onclick="prevpg(2)">Previous
                    </button>
                    <button class="waves-effect waves-light btn blue darken-4 text-white" type="Submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function nextpg(a) {
            document.getElementById('c' + a).classList.add('hide');
            document.getElementById('c' + (a + 1)).classList.remove('hide');
        }

        function prevpg(a) {
            document.getElementById('c' + a).classList.add('hide');
            document.getElementById('c' + (a - 1)).classList.remove('hide');
        }
    </script>
{% endblock %}