{% extends 'after_login/main.html' %}

{% block head %}
    <style>
        .onhover:hover {
            border-bottom: 4px solid darkblue;
            transition: background-color 1s ease;
        }

        span
    </style>
{% endblock %}

{% block options %}
    <div class="container" style="width:90%;">
        <div style="padding-bottom:1%;border-bottom:2px solid darkblue;margin-bottom: 2%;">
            <h1 class="left-align blue-text text-darken-4" style="font-size: 40px;font-family: 'Noto Serif';">
                Profile</h1>
        </div>
        {% if user.registered_user %}
            <div class="center-align">
                <img class="circle materialboxed" src="{{ user.registered_user.image.url }}" alt='profile_pic'
                     style="height:15vh;width:15%;text-align: center;margin-left:45%;">
            </div>
            <div class="blue-text text-darken-4 left-align"
                 style="font-size:larger; margin:5%; background-color: white;padding:2% 2% 2% 30%;">
                <span>Name: {{ user.registered_user.First_Name }}&nbsp;{{ user.registered_user.Last_Name }}</span><br><br>
                <span>Email: {{ user.registered_user.email }}</span><br><br>
                <span>Role:
                    {% ifequal user.registered_user.role 'F' %}
                        Faculty
                    {% else %}
                        Student
                    {% endifequal %}
                </span><br><br>
                <span>College : {{ user.registered_user.college_id.Name_Of_College }}</span><br><br>
                <a class="btn blue darken-4 white-text text-darken-4" href="{% url 'users:edit' %}">Edit</a>
            </div>
        {% else %}
            <div class="center-align">
                <img class="circle materialboxed" src="{{ user.registered_college.image.url }}" alt='profile_pic'
                     style="height:15vh;width:15%;margin-left:40%;">
            </div>
            <div class="blue-text text-darken-4 left-align"
                 style="font-size:larger; margin:5%; background-color: white;padding:2% 2% 2% 30%;">
                <span>Name: {{ user.registered_college.Name_Of_College }}</span><br><br>
                <span>Email: {{ user.registered_college.email }}</span><br><br>
                <span>College Registration No: {{ user.registered_college.College_Registration_Number }}</span><br><br>
                <span>City : {{ user.registered_college.City }}</span><br><br>
                <span>State: {{ user.registered_college.State }}</span><br><br>
                <a class="btn blue darken-4 white-text text-darken-4" href="{% url 'users:edit2' %}">Edit</a>
            </div>
        {% endif %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.materialboxed');
            M.Materialbox.init(elems, {});
        });

    </script>
{% endblock %}