{% extends 'quiz/base_classrooms.html' %}
{% block content %}
        <div class='row'>
            {% if message %}
                <div style='visibility: hidden;' id='msg'>
                    {{message}}
            </div>
            {% endif %}
            <p>You have following quizzes listed for you</p>
            {% for quiz in quizzes %}
                <a href="{{ quiz }}">{{ quiz }}</a><br>
                start time:{{ quiz.start_time }}<br>
                end time: {{ quiz.end_time}}<br>
            {% endfor %}
        </div>
{% endblock content %}