{% extends 'quiz/base_classrooms.html' %}
{% block content %}

<div style="margin-bottom:6%;background-color: white;padding:1%;">
    <h5 class="blue-text text-darken-4 center"><u>Make a Quiz</u></h5>
    <form method="POST">
        {% csrf_token %}
        <div class="container blue-text text-darken-4">
            <div class="center-align file-field input-field">
                {{form.as_p}}
            </div>
        <button class="waves-effect waves-green btn blue darken-4 text-white" type="Submit" style="z-index:0">
            Add Question
        </button>
            </div>
        </div>
    </form>
</div>


{% endblock content %}