{% extends 'quiz/base_classrooms.html' %}
{% block content %}
{%  if is_started and not is_finished %}
    <div class="chip col s2 green">
        Single Choice:
    </div>
    {% for single_ques in question_single %}
    <div class='chip'>
        Question-{{forloop.counter}}
    </div>
    <div class="container">
        <div class="row">
            <div class="input-field col s10">
                <input value="{{ single_ques.question }}" id="question" type="text" class="validate" disabled>
                <label class="active" for="question">question</label>
            </div>
            <div class="input-field col s6">
                <input value="{{ single_ques.option1 }}" id="textarea1" type="text" class="validate" disabled>
                <label class="active" for="textarea1">option 1</label>
            </div>
            <div class="input-field col s6">
                <input value="{{ single_ques.option2 }}" id="textarea2" type="text" class="validate" disabled>
                <label class="active" for="textarea2">option 2</label>
            </div>
            <div class="input-field col s6">
                <input value="{{ single_ques.option3 }}" id="textarea3" type="text" class="validate" disabled>
                <label class="active" for="textarea3">option 3</label>
            </div>
            <div class="input-field col s6">
                <input value="{{ single_ques.option4 }}" id="textarea4" type="text" class="validate" disabled>
                <label class="active" for="textarea4">option 4</label>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="chip col s2 red">
        Multiple Choice:
    </div>
    {% for multiple_ques in question_multiple %}
    <div class='chip'>
            Question-{{forloop.counter}}
    </div>
    <div class="container">
        <div class="row">
            <div class="input-field col s10">
                <input value="{{ multiple_ques.question }}"" id="question" type="text" class="validate" disabled>
                <label class="active" for="question">question</label>
            </div>
            <div class="input-field col s6">
                <input value="{{ multiple_ques.option1 }}" id="textarea1" type="text" class="validate" disabled>
                <label class="active" for="textarea1">option 1</label>
            </div>
            <div class="input-field col s6">
                <input value="{{ multiple_ques.option2 }}" id="textarea2" type="text" class="validate" disabled>
                <label class="active" for="textarea2">option 2</label>
            </div>
            <div class="input-field col s6">
                <input value="{{ multiple_ques.option3 }}" id="textarea3" type="text" class="validate" disabled>
                <label class="active" for="textarea3">option 3</label>
            </div>
            <div class="input-field col s6">
                <input value="{{ multiple_ques.option4 }}" id="textarea4" type="text" class="validate" disabled>
                <label class="active" for="textarea4">option 4</label>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="chip col s2 amber">
        True False:
    </div>
    {% for true_ques in question_true %}
    <div class='chip'>
            Question-{{forloop.counter}}
    </div>
    <div class="container">
        <div class="row">
 
            <div class="input-field col s10">
                <input value="{{ true_ques.question }}" id="question" type="text" class="validate" disabled>
                <label class="active" for="question">question</label>
            </div>
            <div class="input-field col s10">
                <input value="{{ true_ques.option1 }}" id="textarea1" type="text" class="validate" disabled>
                <label class="active" for="textarea1">option 1</label>
            </div>
        </div>
    </div>
    {% endfor %}
    
    
            
    <form method='POST'>
        {% csrf_token %}
        <div class="container col s6">
            <div class="container">
                
            <div>
                <div class="chip col s2green">
                    Single Correct:
                </div>
                
                {{ respo_single.management_form }}

                {% for resp1 in respo_single %}
                    <div class="chip col s1.5 ">
                        Question-{{forloop.counter}}
                    </div>
                    <div class="col s3">
                        {{resp1.as_p}}
                    </div>    
                {% endfor %}
                
            </div>
            <div>
                <div class="chip col s2 red">
                        Multiple Correct:
                </div>
                {{ respo_multi.management_form }}
                {% for resp2 in respo_multi %}
                    <div class="chip col s1.5 offset-s1">
                        Question-{{forloop.counter}}
                    </div>
                    {{resp2.as_p}}
                {% endfor %}
            </div>
            <div>
                <div class="chip col s2 amber">
                    True False:
                </div>
                {{ respo_true.management_form }}
                {% for resp3 in respo_true %}
                    <div class="chip col s1.5 offset-s1">
                        Question-{{forloop.counter}}
                    </div>
                    {{resp3.as_p}}
                {% endfor %}
            </div>
       
            </div>
            <input class="btn blue darken-4 white-text text-darken-4 center" type='submit' value="submit">
        </div>
        
    </form>
 {% elif is_finished %}
    <p>The quiz is finished</p>
{% elif not is_started%}
    <p>The quiz is not started</p>
{% endif %}

<script>
    function initialize_select(){
$('select').formSelect();
}
$( window ).on( "load", function() {
    initialize_select();
    })
</script>

{% endblock content %}