{% extends 'after_login/main.html' %}
{% block content %}
{% if user.registered_user %}
    {% for announce in announcments %}
    <div class="card">
        <div class="card-content white-text">
            {{ announce.message }}
        </div>
        <div class="card-action">
            {{ announce.date }}
        </div>
    </div>
    {% endfor %}
{% endif %}
{% if user.registered_college %}
<form method="POST"></form>
{% csrf_token %}
    
    {{form}}
    <button type="submit">Make Announcments</button>
</form>
{% endif %}
{% endblock%}