{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='https://fonts.googleapis.com/css?family=Akronim' rel='stylesheet'>
</head>

<body>
<div class="navbar-fixed">
    <nav class="teal">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo" style="font-family:Akronim;font-size: 40px;">DigitalCollege </a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#"><img class="responsive-img" src="image3.jpg"
                                         style="border-radius:50%;width:40px;height:40px;object-fit:fill;"></a></li>
                    <li><a href="#" class="dropdown-trigger" data-target='dropdown1'><i class="material-icons">notifications</i></a>
                    </li>
                    <li><a href="#" class="waves-effect waves-light btn">logout</a></li>
                </ul>
                <ul id='dropdown1' class='dropdown-content' style="margin-top: 100px;">
                    <li><a href="#!">Prof. Subu added a comment.</a></li>
                    <li><a href="#!">Aman replied to your comment.</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-nav">
        <li><a href="#dashboard">Home</a></li>
        <li><a href="#classroom">
            <div class="valign-wrapper">
                <i class="material-icons" style="margin-left:30px;margin-right:30px;">format_list_bulleted</i>
                <span>Classrooms</span>
            </div>
        </a></li>
        <li>
            <a href="#about">
                <div class="valign-wrapper">
                    <i class="material-icons" style="margin-left:30px;margin-right:30px;">group</i>
                    <span>Progress Report</span>
                </div>
            </a></li>
        <li><a href="#classroom">
            <div class="valign-wrapper">
                <i class="material-icons" style="margin-left:30px;margin-right:30px;">date_range</i>
                <span>Planner</span>
            </div>
        </a></li>
    </ul>
</div>
{% block body %}

{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'Parent/base_js.js' %}"></script>
</body>
</html>
